{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="page-main-content">
        <section class="page-content content">
            {{ post.content }}
        </section>
    </main>
{% endblock %}
