{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="page-main-content">
        <section class="page-content content">
            {{ post.content }}
        </section>
        <section class="page-posts">
            <article class="article post-type">

            </article>
            <article class="article post-type">

            </article>
            <article class="article post-type">

            </article>
        </section>
    </main>
{% endblock %}
