<div class="footer-topper">

</div>
<footer class="footer">

</footer>

<script src="{{ theme.link }}/dist/scripts/main.js"></script>
<script src="https://kit.fontawesome.com/fa700d54af.js" crossorigin="anonymous"></script>
