<div class="header-banner"><div class="container mx-auto py-1"></div></div>
<header class="header">
    <div class="container mx-auto py-4 flex px-2 lg:px-0">
        {{ include('components/header/logo.html.twig') }}
        {{ include('components/header/navbar.html.twig') }}
    </div>
</header>
