@use "variables" as v;

.card {
  position: relative;
}

.card-header {}

.card-header-img {
  height: 300px;
  width: 100%;
  object-fit: none;
  object-position: center center;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: .275rem;
}

.read-more {
  padding: .5rem;
  display: inline-block;
  margin-top: .5rem;
  border-radius: 8px;
  background: v.$button-background;
  color: v.$button-color;

  transition: all 225ms ease;

  &:hover {
    background: v.$button-background--active;
    color: v.$button-color--active;
    transition: all 225ms ease;
  }

  &::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: ' ';
    background: transparent;
    position: absolute;
  }
}
