@use "variables" as v;
@use "abstracts/mixins" as *;

.posts {
  display: flex;

  @include screen-below('md') {
    display: block;
  }
}

.post-card {
  max-width: 30%;
  min-width: 30%;

  &:not(:last-of-type) {
    margin-right: 3%;
  }

  @include screen-below('md') {
    max-width: 100%;
    min-width: 100%;
    &:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
